.btn, .btn--gall {
  border: 4px solid greenyellow;
  color: greenyellow;
  background-color: black;
}
.btn:visited, .btn--gall:visited {
  color: blueviolet;
}
.btn:active, .btn--gall:active {
  color: red;
}
.btn:hover, .btn--gall:hover {
  color: white;
}

body {
  min-height: 100vh;
  text-align: center;
  background-image: url(../images/wall3.jpg);
  display: flex;
  flex-direction: column;
}

header nav div.container-fluid {
  background-color: rgba(15, 67, 126, 0.716);
  padding: 20px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
}
header nav div.container-fluid a.navbar-brand {
  font-size: 45px;
  color: white;
  font-family: "Dancing Script", cursive;
}
header nav div.container-fluid #offcanvasNavbarLabel {
  font-size: 27px;
  font-family: "Roboto";
  color: rgba(86, 11, 156, 0.656);
}
header nav div.container-fluid a.nav-link {
  font-size: 27px;
  font-family: "Amita";
  color: rgb(4, 97, 164);
}
header nav div.container-fluid div.logs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
}

main .title {
  color: darkblue;
  font-size: 45px;
}
main #inst {
  color: brown;
  font-size: 30px;
}

div.us {
  margin: 18px;
}
div.us .parra {
  font-size: 20px;
  text-align: justify;
  color: rgb(239, 8, 35);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

div.gall {
  display: flex;
  flex-wrap: wrap;
}
div.gall div.galeria_vintage {
  margin: 15px;
  padding: 15px;
  border: 6px groove rgb(246, 51, 51);
  width: 180px;
  border-radius: 10px;
}
div.gall div.galeria_vintage img {
  width: 100%;
}

div.formulario {
  font-family: "Amita", serif;
  font-size: 25px;
}
div.formulario form {
  background-color: rgba(21, 112, 176, 0.704);
  width: 360px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  border: 4px solid black;
}
div.formulario .btn, div.formulario .btn--gall {
  border: 4px solid greenyellow;
  color: greenyellow;
  background-color: black;
}
div.formulario .btn:visited, div.formulario .btn--gall:visited {
  color: blueviolet;
}
div.formulario .btn:active, div.formulario .btn--gall:active {
  color: red;
}
div.formulario .btn:hover, div.formulario .btn--gall:hover {
  color: white;
}

.btn--gall {
  border-radius: 10px;
}

footer {
  background-color: black;
  height: 100%;
  margin-top: auto;
}
footer .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 1rem 0 3rem 0;
}
footer .socials li {
  margin: 0 20px;
}
footer .socials li a {
  text-decoration: none;
  color: white;
}
footer .socials li a i {
  font-size: 27px;
}

@media (max-width: 768px) {
  h1.calidad {
    text-align: center;
    background-color: rgba(73, 148, 229, 0.434);
    color: darkblue;
  }
  .almc {
    display: none;
  }
  h1,
  h2 {
    color: rgb(16, 234, 5);
  }
  .parra {
    color: rgb(21, 21, 238);
  }
  body {
    background-image: url(../images/fondo88.jpg);
  }
  .calidad {
    background-color: rgba(193, 73, 229, 0.434);
    color: rgb(255, 0, 93);
    border-radius: 15px;
  }
}
@media (min-width: 769px) {
  h1.calidad {
    background-color: rgb(255, 0, 93);
    border-radius: 10px;
  }
  h2 {
    color: rgb(251, 33, 149);
  }
}

/*# sourceMappingURL=style.css.map */
