.btn, .btn--gall {
  border: 4px solid greenyellow;
  color: greenyellow;
  background-color: black;
}
.btn:visited, .btn--gall:visited {
  color: blueviolet;
}
.btn:active, .btn--gall:active {
  color: red;
}
.btn:hover, .btn--gall:hover {
  color: white;
}

body {
  min-height: 100vh;
  text-align: center;
  background-image: url(../images/wallgtrs2.jpg);
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Protest Revolution", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

h2 {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
  color: wheat;
}

h5 {
  color: red;
}

p {
  font-family: "Handlee", cursive;
  font-weight: bold;
  font-style: normal;
  color: red;
}

.offcanvas-body {
  background: linear-gradient(to left top, #051937, #662f64, #c74563, #fd873a, #ebe312);
}

header nav div.container-fluid {
  background: linear-gradient(to right, orange, #f245c4, #8f0ce7, cyan);
  padding: 20px;
  margin-top: -8px;
  margin-bottom: -8px;
}
header nav div.container-fluid a.navbar-brand {
  font-size: 33px;
  color: white;
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}
header nav div.container-fluid #offcanvasNavbarLabel {
  font-size: 37px;
  font-family: "Special Elite";
  color: red;
}
header nav div.container-fluid a.nav-link {
  font-size: 29px;
  font-family: "Trade Winds";
  color: black;
}
header nav div.container-fluid div.logs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 40px;
}

main .title {
  color: white;
  font-size: 45px;
}
main #inst {
  color: wheat;
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

div.us {
  margin: 18px;
}
div.us .parra {
  font-size: 25px;
  text-align: justify;
  color: rgb(230, 158, 24);
  font-family: "Itim", cursive;
  font-weight: 600;
  font-style: normal;
  padding: 20px;
  border-radius: 10px;
}

div.gall {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
div.gall div.galeria_vintage {
  margin: 15px;
  padding: 15px;
  border: 6px groove rgb(246, 51, 51);
  width: 180px;
  border-radius: 10px;
}
div.gall div.galeria_vintage img {
  width: 100%;
}

div.formulario {
  font-family: "Amita", serif;
  font-size: 25px;
}
div.formulario .for {
  width: 70%;
  border-radius: 10px;
}
div.formulario form {
  background: linear-gradient(to bottom, blueviolet, rgb(0, 145, 255), white);
  width: 290px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  border: 4px solid black;
}
div.formulario .btn, div.formulario .btn--gall {
  border: 4px solid greenyellow;
  color: greenyellow;
  background-color: black;
  font-family: "Julee", cursive;
  font-weight: 400;
  font-style: normal;
  border-radius: 10px;
}
div.formulario .btn:visited, div.formulario .btn--gall:visited {
  color: blueviolet;
}
div.formulario .btn:active, div.formulario .btn--gall:active {
  color: red;
}
div.formulario .btn:hover, div.formulario .btn--gall:hover {
  color: white;
}

.btn--gall {
  border-radius: 10px;
}

footer {
  background-color: black;
  height: 100%;
  margin-top: auto;
}
footer .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 1rem 0 3rem 0;
}
footer .socials li {
  margin: 0 20px;
}
footer .socials li a {
  text-decoration: none;
  color: white;
}
footer .socials li a i {
  font-size: 27px;
}

div.fx1 {
  background-color: blueviolet;
  margin: 20px;
  width: 100px;
  height: 100px;
  border-radius: 25%;
  padding: 20px;
}
div.fx1 p.efe2 {
  font-family: "Aladin", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: wheat;
}

.fx1:hover {
  background: rgb(84, 212, 255);
  transition: background-color 3s;
}

div.fx2 {
  background-color: rgb(226, 43, 131);
  margin: 20px;
  width: 100px;
  height: 100px;
  border-radius: 25%;
  padding: 20px;
}
div.fx2 p.efe {
  font-family: "Aladin", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: wheat;
}

.fx2:hover {
  transform: rotate(45deg);
}

p.efe {
  font-family: "Aladin", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: black;
}

div.fx3 {
  background-color: rgb(49, 226, 43);
  margin: 20px;
  width: 100px;
  height: 100px;
  border-radius: 25%;
  padding: 20px;
  animation: pulse 3s ease infinite alternate, nudge 5s linear infinite alternate;
}

@keyframes pulse {
  0%, 100% {
    background-color: red;
  }
  50% {
    background-color: orange;
  }
}
@keyframes nudge {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(100px, 0);
  }
  80% {
    transform: translate(-100px, 0);
  }
}
p.efe3 {
  color: wheat;
  font-family: "Lobster", sans-serif;
  font-size: 20px;
}

@media (max-width: 768px) {
  h1.calidad {
    text-align: center;
    color: white;
  }
  .almc {
    display: none;
  }
  h1,
  h2 {
    color: rgb(16, 234, 5);
  }
  .parra {
    color: rgb(21, 21, 238);
  }
  body {
    background-image: url(../images/wall6.webp);
  }
}
@media (min-width: 769px) {
  h1.calidad {
    color: white;
  }
  h2 {
    color: rgb(251, 33, 149);
  }
}

/*# sourceMappingURL=style.css.map */
