body {
    min-height: 100vh;
    text-align: center;
    background-image: url(../images/wallgtrs2.jpg);
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

h2 {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-family: "Special Elite", system-ui;
    font-weight: 400;
    font-style: normal;
    color: wheat;
}

h5 {
    color: red;
}

p {
    font-family: "Handlee", cursive;
    font-weight: bold;
    font-style: normal;
    color: red;
}

.offcanvas-body {
    background: linear-gradient(to left top, #051937, #662f64, #c74563, #fd873a, #ebe312);
}