header {

    nav {

        div.container-fluid {
            background: linear-gradient(to right, orange, #f245c4, #8f0ce7, cyan); 
            padding: 20px;
            margin-top: -8px;
            margin-bottom: -8px;

            a.navbar-brand {
                font-size: 33px;
                color: $txt-color3;
                font-family: "Special Elite", system-ui;
                font-weight: 400;
                font-style: normal;
            }

            #offcanvasNavbarLabel {
            @include font(37px,'Special Elite',red);
            
            }

            a.nav-link {
                @include font(29px,'Trade Winds',black);
               
            }

            div.logs {
                @include flex (space-around, center);
                font-size: 40px;    
            }
        }
    }
}