@media (max-width: 768px) {

    h1.calidad {
        text-align: center;
        color: white;
    }


    .almc {
        display: none;
    }

    h1,
    h2 {
        color: rgb(16, 234, 5);
    }

    .parra {
        color: rgb(21, 21, 238);
    }

    body {

        background-image: url(../images/wall6.webp);
    }

}

@media (min-width: 769px) {
    h1.calidad {
        color: white;
        
    }

    h2 {
        color: rgb(251, 33, 149);
    }
}